html,body {
	height: 100%;
}
body{
	background-image: url(../../img/home.jpg);
	background-size: cover;
}
.site-title{
	font-size: 24px;
	margin: 50px 0;
}
.site-kv{
	font-size: 20px;
	color:#333333;
	display: flex;
	flex-direction: column;
	margin: 0 50px;
}
.site-item{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 30px;
}
.site-item>span{
	width: 15%;
}
.site-item>input{
	height: 50px;
	line-height: 50px;
	width: 85%;
	padding: 0 10px;
	font-size: 20px;
	box-shadow: 4px 4px 10px 4px rgba(4,0,0,0.25);
	border: 0px;
}