*{margin: 0;padding: 0;}
html,body {
	height: 100%;
}
body{
	background-image: url(../../img/welfare-beijing.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.select-welfare-title{
	font-size: 24px;
	margin: 50px 0;
	font-weight: bold;
}
.select-welfare-menu{
	display: flex;
	justify-content: center;
	align-items: center;
}
.select-welfare-menu .select-welfare-item{
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	border-radius: 50%;
	box-shadow: 4px 4px 10px 4px rgba(4,0,0,0.25);
}
.select-welfare-mid {
	height: 2px;
	width: 200px;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 10px 3px rgba(4,0,0,0.25);
}
.select-welfare-kv{
	width: 100%;
	font-size: 20px;
	color:#000000;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	font-weight: 400;
}
.logistics-item,.select-welfare-info{
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 150px;
	align-items: center;
}
.logistics-item>span:nth-child(1){
	margin-right: 20px;
}
.select-welfare-info>span:nth-child(1){
	margin-right: 10px;
}
.select-welfare-block{
	display: flex;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 150px;
}
.mark{
	background-color: #867E76;
	color: #FFFFFF;
}

@media screen and (max-width:1300px){
	.logistics-item,.select-welfare-info,.select-welfare-block{
		padding-left: 20px;
		padding-right: 20px;
	}
	.select-welfare-block>span:nth-child(2){
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: inline-block;
	}

}